
@import url('https://fonts.googleapis.com/css2?family=Michroma&family=Roboto:wght@100;300;400;700&display=swap');


*{
    box-sizing: border-box;
}
.swiper-container{
    width: 100%;
}

.swiper-pagination{
    bottom: 0;
}

.swiper-warper{
    padding-inline-start: 0;
}

.swiper-pagination-bullet{
    width: 15px;
    height: 15px;
    background-color: white;
}

.swiper-pagination-bullet-active{
    background-color: red;
}

@media (min-width: 1080){
    .display-none{
        display: none;
    }
}

